main{
    display: block;
}

body{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    color:#151515
}

button{
    display: inline-block;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    width:200px;
    height:80px;
    color: #151515;
    text-decoration: none;
    text-align: center;
    background-color: #d3d3d3;
    border: 0 solid #d3d3d3;
    margin-top: 15px;
    
    

    
}
input{
    display: inline-block;
    height: 25px;
    padding: 15px 0 15px;
    border: 0;
    margin-bottom: 15px;
    outline: none;
    color: azure;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.6rem;
    max-width: 100%;
    background: transparent;
    border-bottom: 1px solid #c3c3c3;
    transition: all 0.3s ease-in-out;
    position: block;
}

li{
    list-style-type: none;
}
.center{
    text-align: center;
    position: relative;
    color: azure;
}

.side{
    position:relative;
}


.side-column{
    display: flex;
    width: 300px;
    background-color: #151515;
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 30px;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    align-items: center;
}

.row {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
  }

.content{
    padding-left: 200px;
    padding-right: 80px;

}

.title{
    font-size: 30px;
    line-height: 1.143;
    letter-spacing: -0.05rem;
    margin-top: 1;
    margin-bottom: 0.8rem;
}
.picture{
    width: 750px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    height: 400px;

    display: flex;

    justify-content: center;
    align-items: center;
}
.error{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    color: crimson;
    text-decoration: solid;
    text-transform: uppercase;
}

img{
    z-index: -1;
    width:750px;
    max-height: 800px;
    position: absolute;
    
}
p{
    text-align: justify;
}

